/* first, change the background color */
body { /* top layer */
    margin: 0;
    padding: 0;
    background-color: #81b1c9;
    background-image: url("../images/starry-sky.png");
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center center;
    background-repeat: repeat;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: 	#343d46;
}

#hobbies { /* top layer */
    margin: 0;
    padding: 0;
    background-color: #81b1c9;
    background-image: url("../images/supernova-gold.png");
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center center;
    height: 100vh;
    /* animation */
    animation-name: space-window-perspective;
    animation-duration: 200s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* color palette: https://www.color-hex.com/color-palette/13403 
	Astronomy:  #cfedfd	(207,237,253)
                #bfe6fb	(191,230,251)
                #81b1c9	(129,177,201)
                #55859f	(85,133,159)
                #115376	(17,83,118)
    Beautiful Blues:  	#011f4b	(1,31,75)
                        #03396c	(3,57,108)
                        #005b96	(0,91,150)
                        #6497b1	(100,151,177)
                        #b3cde0
    Space-Gray Like:    #343d46	(52,61,70)
                        #4f5b66	(79,91,102)
                        #65737e	(101,115,126)
                        #a7adba	(167,173,186)
                        #c0c5ce
    24K GOLD            #a67c00	(166,124,0)
                        #bf9b30	(191,155,48)
                        #ffbf00	(255,191,0)
                        #ffcf40	(255,207,64)
                        #ffdc73
*/

/* accessibility skipper */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    z-index: 1000;
}
    .skip-link:focus {
    top: 0;
}

/* nav styling */
nav {
    margin: 0px 0px 0px 0px;
    padding: 2vh 0px;
    display: flex;
    justify-content: space-around;
    align-content:center;
    width: 100%;
    background-color: #011f4b;
}
nav a {
    /* border: 2px solid red; */
    display: inline-block;
    padding: 5px;
    border-radius: 5%;
    margin-top: 2.8%;
    width: max-content;
    height: min-content;
    color:#e0f0f0;
    text-decoration: none;
    font-size: 20px;
    transition: background-color .1s linear .1s;  
}
nav a:hover {
    background-color: #115376;
}
nav a.current {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}
nav img {
    /* border: 2px solid red; */
    height: 10vh;
}
@media only screen and (max-width: 600px) {
    nav a {
        font-size: 16px;
        line-height: 150%;
    }
    nav img {
        height: 8.5vh;
    }
}
/* header styling */
header {
    margin: 0px 0px 0px 0px;
    padding: 3vh 3vw;
    background-color: #cfedfd;
}
header h1 {
    padding: 0px 10px;
    margin: 10px;
    border-left: 4px solid #011f4b;
    text-align: left;
}
header p:nth-child(2) {
    padding: 0px 10px 6px 10px;
    font-weight: 500;
    font-size: 20px;
}
header p {
    margin: 15px 0px 0px 0px;
    padding: 0px 0px;
    display: flex;
    justify-content: left;
    align-content: baseline;
    width: 100%;
}
#mail-logo { 
    margin: 0px 6px;
    padding-top: 8px;
    width: 50px;
}
#github-logo {
    margin: 0px 6px;
    padding-top: 6px;
    width: 50px;
}
#linkedin-logo {
    margin: 0px 6px;
    padding-top: 6px;
    width: 50px;
}
#de1-soc-img {
    margin: 0vh 0vw;
    padding-top: 3%;
    width: 150px;
}
#swe-img {
    margin: 0vh 1.2vw;
    padding-top: 9%;
    width: 90px;
}
#web-dev-img {
    margin: 0vh 1.2vw;
    padding-top: 9%;
    width: 90px;
}
#flex-container {
    display: flex;
}

.contact-link {
    display: flex;
    width: min-content;
    padding-right: 5px;
    border: 2px solid #cfedfd;
    transition: border background-color .1s linear .1s;
    overflow: hidden;
}
.contact-link:hover {
    border-color: #115376;
    border-radius: 5%;
    background-color: #b3cde0;
}
.contact-link-img {
    margin: 0vw;
}
.contact-link-text {
    display: inline-block;
    align-self: center;
    color:#343d46;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .contact-link {
        padding-right: 0px;
    }
    #flex-container {
        justify-content: space-evenly;
    }
    .contact-link-text {
        display: none;
    }
}
/* override for projects page */
#projects_top #flex-container {
    justify-content: space-around;
}

/* tv-shaped border */
#tv-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tv-frame div {
    margin: auto 0;
    border: 2px solid #81b1c9;
    background-color: #81b1c9;
    width: 22px;
    height: 18px;
}
#tv-frame div:last-child {
    border: 2px solid #81b1c9;
    background-color: #81b1c9;
    width: 144px;
    height: 16px;
}
/* YouTube video embeds styling */
.yt-vid-embed {
    border: 16px inset #74a7c1;
    border-radius: 2%;
    margin: 0vh 1vw;
}

/* figure styling */
figure {
    border: 10px 10px 10px 10px solid #74a7c1;
    border-radius: 2%;
    margin: 8px 12px;
    padding: 12px;
    background-color: #74a7c1;
}
figure img {
    width: 85vw;
}
/* section styling*/
section {
    margin: 22px 20px;
    padding: 10px;
    border: 2px solid #cfedfd;
    border-radius: 10px;
    background-color: #cfedfd;
}
section p {
    margin: 12px;
    line-height: 125%;
    font-size: 20px;
}
h1 {
    text-align: center;
    font-weight:600;
    font-size: 44px;
}
h2 {
    margin: 10px;
    padding: 0px 2px;
    font-weight: bolder;
    font-size: 140%;
}
h3 {
    margin: 10px;
    padding: 0px 2px 3px 2px;
    font-weight: bolder;
    font-size: 140%;
    text-decoration: underline;
}
figure {
    display: inline-block;
}
strong {
    font-weight: 550;
}
ul {
    margin: 12px;
    list-style-type: circle;
    line-height: 125%;
    font-size: 20px;
    font-weight: 600;
}
li {
    margin: 0px 48px;
    line-height: 125%;
    font-size: 20px;
    font-weight: 500;
}
figcaption {
    text-align: center;
    margin: 4px;
    line-height: 125%;
    font-size: 18px;
}
.neon-border {
    box-shadow: none;
    transition: border .15s linear .05s, box-shadow 0.15s linear .05s;
}
.neon-border:hover {
    border: 2px solid #00c2c7;
    box-shadow: 0 0 10px #00C2C7, 0 0 20px #00C2C7, 0 0 30px #00C2C7;
}
.space-window-container {
    margin: 20px 10px 4px 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}
@keyframes space-window-perspective {
    0%   {background-position: 50% 20%;}
    16.7%  {background-position: 75% 40%;}
    35.4%  {background-position: 75% 60%;}
    53.1%  {background-position: 50% 80%;}
    67.7% {background-position: 25% 60%;}
    83.3% {background-position: 25% 40%;}
    100% {background-position: 50% 20%;}
}
#skills p {
    line-height: 150%;
}
#supernova-gold-window {
    width: 48vw;
    border-radius: 20px;
    border: 2px solid #cfedfd;
    background-image: url("../images/supernova-gold.png");
    background-position: 25% 25%;
    background-size: 150%;
    /* animation */
    animation-name: space-window-perspective;
    animation-duration: 100s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* transition */
    transition: border 1s ease 0.1s, background-size 1s ease 0.1s;
}
#supernova-gold-window:hover {
    border: 2px solid #002630;
    background-size: 160%;
}
#hobbies nav {
    background-color: #000033;
}
#hobbies section{
    background-image: none;
    background-color: rgba(255, 255, 255, 0.0);
    /* border: 2px dotted red; */
    border: 2px dotted rgba(255, 255, 255, 0.0);
    margin: 0px;
    padding: 10px 0px;
    height: min-content;
}
#hobbies header {
    padding: 2px;
    margin: 0px;
    background-color: #fff3b9;
}
#hobbies header h1 {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    border: none;
}
#hobbies ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 18px 18px;
    list-style: none;
}
#hobbies li {
    margin: 0px 0px;
    padding: 0px 8px 0px 0px; /* combat unknown offset */
    width: 24%;
    border: 4px solid rgb(255,255,255,0);
    border-radius: 8px;
    background-color: rgb(255,255,255,0);
}
#hobbies div {
    width: 100%;
    height: 34vh;
    border: 4px solid #bf9b30;
    border-radius: 8px;
    background-color: rgb(255,232,160,0.7);
    transform: rotateY(180deg);
    transition: transform 0.6s linear 0.05s;
}
#hobbies li:nth-child(2n) div {
    border-color: #115376;
    background-color:  rgb(170,225,255,0.7);
}
#hobbies div img {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    border: 4px inset #bf9b30;
    border-radius: 1%;
    opacity: 1;
    transition: visibility 0s 0.45s, opacity 0.5s linear;
}
#hobbies li:nth-child(2n) img {
    border-color: #115376;
}
#hobbies li:hover img {
    visibility: hidden;
    opacity: 0;
}
#hobbies li p {
    margin: 20px 18px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.45s, opacity 0.6s linear;
    font-size: max(1.2vw 1vh);
}
@media only screen and (max-width: 1000px) {
    #hobbies li p {
        font-size: 78%;
    }
}
@media only screen and (max-width: 600px) {
    #hobbies li p {
        margin: 10px;
    }
}
#hobbies li:hover div {
    transform: scale(105%);
}
#hobbies li:hover p {
    visibility: visible;
    opacity: 1;
}
footer {
    position: fixed; /* or position: absolute; */
    bottom: 0;
    margin: 0px 0px;
    padding: 2px;
    border-style: none;
    background-color: #74a7c1;
    line-height: 100%;
    font-size: 16px;
}

